<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
</head>

<body ng-app="todoApp" ng-controller="todoController">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" href="#">Todo List</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">User</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% verbatim %}
  <!-- Main Content -->
  <div class="m-3">
    <div class="d-flex flex-row p-2">
      <button type="button" class="btn btn-outline-secondary ms-2" ng-if="activeFilter.title" ng-click="clearFilter()">
        {{activeFilter.title}}
        <i class="bi bi-x-lg"></i>
      </button>
      <input class="rounded" type="search" placeholder="Search" aria-label="Search"
        ng-model="activeFilter.searchTitleInput" ng-if="!activeFilter.title">
      <button type="button" class="btn btn-outline-success ms-2" ng-click="applyFilter()"
        ng-if="!activeFilter.title">Search</button>
      <button type="button" class="btn btn-primary ms-auto" ng-click="showModalCreateNewProject()">Create New
        Project</button>
    </div>
    <div class="accordion mt-2" id="projectAccordion">
      <div class="accordion-item" ng-repeat="project in projectList">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#project_{{project.id}}" aria-expanded="false" aria-controls="project_{{project.id}}"
            ng-click="loadProjectTodo(project, $event)">
            {{project.title}}
          </button>
        </h2>
        <div id="project_{{project.id}}" class="accordion-collapse collapse" data-bs-parrent="#projectAccordion">
          <div class="accordion-body">
            <p>{{project.description}}</p>
            <div class="d-flex flex-row mb-2 gap-2">
              <button type="button" class="btn btn-secondary" ng-click="showModalEditProject(project)">Edit</button>
              <button type="button" class="btn btn-danger" ng-click="deleteProject(project)">Delete</button>
            </div>
            <button type="button" class="btn btn-primary mb-2" ng-click="showModalCreateNewTodo(project)">Create New
              Task</button>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Task</th>
                  <th scope="col">Note</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="todo in project.todoList">
                  <th scope="row" ng-bind="todo.id"></th>
                  <td ng-bind="todo.title"></td>
                  <td ng-bind="todo.note"></td>
                  <td ng-if="!todo.completed">Not Finished</td>
                  <td ng-if="todo.completed">Finished</td>
                  <td>
                    <button type="button" class="btn btn-success" ng-if="!todo.completed"
                      ng-click="changeStatus(todo)">Mark as
                      Done</button>
                    <button type="button" class="btn btn-warning" ng-if="todo.completed"
                      ng-click="changeStatus(todo)">Mark as
                      Not Done</button>
                    <button type="button" class="btn btn-secondary"
                      ng-click="showModalEditTodo(todo, project)">Edit</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteTodo(todo, project)">Delete</button>
                  </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-danger m-3" ng-click="exportProjectToPDF()">Export to PDF</button>
  </div>

  <!-- Todo Modal -->
  <div class="modal fade" id="todoDetailModal" tabindex="-1" aria-labelledby="todoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="todoModalLabel">
            {{modalData.isUpdate ? 'Edit Task' : 'Create New Task'}}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form name="todoForm">
          <div class="modal-body">
            <div class="mb-3">
              <label class="col-form-label">Project:</label>
              <p ng-bind="modalData.project.title"></p>
            </div>
            <div class="mb-3">
              <label for="task-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="task-name" ng-model="newTodo.title"
                placeholder="Enter task title" required>
            </div>
            <div class="mb-3">
              <label for="task-note" class="col-form-label">Note:</label>
              <textarea class="form-control" id="task-note" ng-model="newTodo.note"
                placeholder="Enter task note"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success"
              ng-click="todoForm.$valid && modalData.submitFunction()">{{modalData.isUpdate ? 'Update task' : 'Create new task'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Project Modal -->
  <div class="modal fade" id="projectDetailModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="projectModalLabel">
            {{modalData.isUpdate ? 'Update project' : 'New project'}}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form name="projectForm">
          <div class="modal-body">
            <div class="mb-3">
              <label for="project-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control {{modalData.error.title ? 'is-invalid' : ''}}" id="project-name" aria-describedby="project-name-feedback" ng-model="newProject.title"
                placeholder="Enter project title" required>
                <div id="project-name-feedback" class="invalid-feedback">{{modalData.error.title}}</div>
            </div>
            <div class="mb-3">
              <label for="project-description" class="col-form-label">Description:</label>
              <textarea class="form-control" id="project-description" ng-model="newProject.description"
                placeholder="Enter project description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success"
              ng-click="projectForm.$valid && modalData.submitFunction()">{{modalData.isUpdate ? 'Update project' : 'Create new project'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endverbatim %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>

</html>